.sidebar {
    
    flex: 0.2;
    border-radius: 20px;
    text-align: center;
    height: fit-content;
    width: 800px; /* Adjust the width to your desired value */
}

.sidebar__avatar {
    margin-bottom: 10px;
}

.sidebar__top {
    
    text-align: left;
    padding: 10px;
    
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: auto;
    
}


.sidebar__top > h4{
    color: gray;
    font-size: 15px;
}

.sidebar__top > h2{
    font-size: 20px;
    height: 20px

}

.sidebar__top > p{
    color: rgb(230, 10, 10);
    font-size: 15px;
    font-weight: 600;
}

.sidebar__top > img{
    
    width: 100%;
    height: 80px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit:scale-down
}

.sidebar__stat{
    position: sticky;
    top: 80px;
    text-align: left;
    padding: 10px;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 20px;
    margin-top: 20px;
}

.sidebar__stat > p {
    color: grey;
    font-size: 13px;
    font-weight: 600;
    justify-content: space-between;
}

.sidebar__stats {
    top: 80px;
    text-align: left;
    padding: 10px;
    
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
}

.sidebar__statNumber {
    font-weight: bold;
    color: #0a66c2 !important;
    cursor: pointer;
}


.sidebar__statNumber:hover{
   background-color: whitesmoke; 
   border-radius: 10px;
}

.sidebar__bottom {
    position: sticky;
    top: 80px;
    text-align: left;
    padding: 10px;
    
    background-color: white;
    
    margin-top: 10px;
}

.sidebar__recentItem{
    display: flex;
    font-size: 13px;
    color: gray;
    font-weight: bolder;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 5px;
    height:30px;
}

.sidebar__recentItem:hover {
    background-color: whitesmoke;
    border-radius: 10px;
    cursor: pointer;
    color: black;
}

.sidebar__hash{
    margin-right: 10px;
    margin-left: 5px;
}

.sidebar__bottom > p{
    font-size: 14px;
    font-weight: 700;
    
}